<!-- aplico css al modal -->

<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">



  <!-- Codigo de Modal de detalle cliente -->

  <div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}} </h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">

            <div class="row">
              <div class="col-sm">

                <ul *ngIf="cliente" class="list-group text-dark mb-3">
                  <li class="list-group-item active">{{cliente.nombre}}</li>
                  <li class="list-group-item">{{cliente.apellido}}</li>
                  <li class="list-group-item">{{cliente.email}}</li>
                  <li class="list-group-item">{{cliente.createAt}}</li>
                  <li class="list-group-item">{{cliente.region.nombre}}</li>

                </ul>


                <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="input-group">
                  <div class="custom-file ">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input"
                      id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label"
                      for="inputGroupFile04">{{!imagenSeleccionada? 'Seleccionar':imagenSeleccionada.name}}</label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!imagenSeleccionada" class="btn btn-outline-secondary"
                      type="button" id="inputGroupFileAddon04">Subir</button>
                  </div>
                </div>

                <div *ngIf="progreso > 0" class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso + '%'}"
                    attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">

                    {{progreso}} %
                  </div>
                </div>

              </div>
              <div class="col-sm">
                <img *ngIf="cliente?.foto" src="{{urlBackend}}/api/uploads/img/{{cliente.foto}}"
                  alt="{{cliente.foto}}" class="img-thumbnail rounded">

              </div>
            </div>

            <div class="row">
              <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                <button class="btn btn-rounded btn-success" type="button"
                  [routerLink]="['/facturas/form',cliente.id]">Crear factura</button>
              </td>
            </div>

            <div class="row" style="position: relative; height: 200px; overflow: auto; display: block;">

              <div *ngIf="cliente.facturas.length==0" class="alert alert-info my-4">No hay Facturas Asignadas al cliente
                {{cliente.nombre}} {{cliente.apellido}}</div>



              <table *ngIf="cliente.facturas.length>0" class="table table-bordered table-stripped my-4">
                <thead>
                  <tr>
                    <th>Folio</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Detalle</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let factura of cliente.facturas">
                    <td>{{factura.id}}</td>
                    <td>{{factura.descripcion}}</td>
                    <td>{{factura.createAt}}</td>
                    <td>{{factura.total}}</td>
                    <td><button class="btn btn-primary btn-sm" type="button" [routerLink]="['/facturas',factura.id]">
                        Ver </button></td>

                    <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button (click)="delete(factura)"
                        class="btn btn-danger btn-sm" type="button">
                        Eliminar </button></td>

                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>